Repository paydelimon22/TC1001S, pull requests merged in 2024-09, with the labels that each got.

#23 Memory final changes
  Actividad5/memory.py
Labels: memory

#22 feat:higher chance of getting closer to pacman
  Actividad3/pacman.py
Labels: enhancement, pacman

#21 11 add requirements
  README.md
  requirements.txt
Labels: documentation
